<dialog open #carSetup>
    <h1 class="headline">Bot-Setup</h1>
    <div class="description">This is the bot setup. Please fill out the necessary fields.</div>
    <div class="inputs">
        <div class="player-wrapper" *ngFor="let bot of bots">
            <app-car [player]="bot"></app-car>
        </div>
        <div class="add-bot active" #addButton (click)="showUtility()" (keydown.enter)="showUtility()" tabindex="0">ADD BOT</div>
        <div class="add-bot__wrapper" #botWrapper>
            <label for="bot-name">Name:</label>
            <input name="bot-name" type="text" placeholder="Name: Bot {{botIndex + 1}}" value="Bot {{botIndex + 1}}" class="add-bot__wrapper__name" (keydown.enter)="handleConfirm()" #botNameInput>
            <label for="bot-speed">Speed:</label>
            <input name="bot-speed" type="text" placeholder="Speed: 20" value="20" class="add-bot__wrapper__speed" (keydown.enter)="handleConfirm()" #botInput>
            <button class="add-bot__wrapper__confirm" (click)="handleConfirm()">Confirm</button>
        </div>
    </div>
    <button class="close-button" (click)="carSetup.close()">X</button>
    <button class="clear-button" (click)="carSetup.close()">Close</button>
</dialog>

<dialog open #gameSetup>
    <h1 class="headline">Game-Setup</h1>
    <div class="description">This is the game setup. Please fill out the necessary fields.</div>
    <div class="form-fields">
        <div class="text-length">
            <label for="text-length">Maximale Textlänge:</label>
            <input #textLengthInput type="text" (keydown.enter)="handleGameSetupSubmit()" name="text-length" placeholder="40" value="40">
        </div>
        <button class="game-setup-submit" (click)="handleGameSetupSubmit()">Submit</button>
    </div>
    <button class="close-button" (click)="handleGameSetupClose()">X</button>
    <button class="clear-button" (click)="handleGameSetupClose()">Close</button>
</dialog>