<div class="controls">
    <div class="button-section">
        <button class="game-state-toggle" [class.active]="running" (click)="gameService.toggle()" title="Click to toggle the state of the game">
            {{running ? "Stop Race": "Start Race"}}
        </button>
        -
        <div class="game-state-display" title="The game is currently {{running ? 'Running' : 'Paused'}}">
            {{running ? "Running": "Paused"}}
        </div>
        -
    </div>
    <div class="speed">
        <div class="speed-display" title="The current game speed is {{range.value}} of the original speed">{{range.value}}</div>
        <input #range type="range" min="0.5" max="2" step="0.5" (change)="setTickDelay(range.value)" title="Drag to change the speed of the game">
    </div>
    <div class="clock">
        <div class="ticks" title="Total game ticks">
            Ticks: {{gameTicks}}
        </div>
        <div class="passed-time" title="Passed real time in seconds">
            Seconds: {{passedTime / 1000}}
        </div>
    </div>
</div>