:host {
    margin: auto;
}

.textbox-wrapper {
    width: 1535px;
    height: 100px;
    position: relative;
    background-color: skyblue;
    padding: 5px 10px;
    border: 1px solid black;
    resize: none;
    font-size: 30px;
    font-family: "Aria";
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
        font-size: 14px;
    }

    &:focus-within {
        outline: none;

        &:not(.running)::after {
            content: "Start the game to start typing...";
        }
        
        span.cursor {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 3px;
                height: 100%;
                background-color: red;
                animation: blink 1.25s ease-out infinite;
            }
        }
    }

    &:not(:focus-within) {
        cursor: text;

        &::after {
            content: "Click to focus...";
        }
    }

    span.correct {
        background-color: limegreen;
    }
    
    span.invalid {
        background-color: darkred;
    }
}

.spinner {
    width: 25px;
    height: 25px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}