:host {
    width: 1335px;
    height: 100px;
    background-color: skyblue;
    padding: 5px 10px;
    border: 1px solid black;
    resize: none;
    font-size: 30px;
    font-family: "Aria";
    overflow: hidden;

    span.correct {
        background-color: limegreen;
    }

    span.invalid {
        background-color: darkred;
    }
}