<ul class="tracks">
    <li *ngFor="let player of playerService.players">
        <ul class="stripes">
            <li *ngFor="let key of (20 | toArray)"></li>
        </ul>
        <div class="player-speed" *ngIf="!player.human">{{player.baseSpeed}}</div>
        <app-car [player]="player"></app-car>
        
        <div class="item" *ngFor="let item of getItemsFromTargetId(player.id)" [style.left]="item.position + '%'">
            <app-item-barrier *ngIf="item.type === 'barrier'"></app-item-barrier>
        </div>
    </li>
</ul>